[submodule "crypto_coins_stream_AWS"]
	path = crypto_coins_stream_AWS
	url = https://github.com/diogovalentte/crypto_coins_stream_AWS.git
	branch = main
[submodule "rock_in_rio_twitter_scraper"]
	path = rock_in_rio_twitter_scraper
	url = https://github.com/diogovalentte/rock_in_rio_twitter_scraper.git
	branch = main
[submodule "covid_daily_update"]
	path = covid_daily_update
	url = https://github.com/diogovalentte/covid_daily_update.git
	branch = main
[submodule "olist_data_warehouse"]
	path = olist_data_warehouse
	url = https://github.com/diogovalentte/olist_data_warehouse.git
	branch = main
[submodule "house_rocket_analysis"]
	path = house_rocket_analysis
	url = https://github.com/diogovalentte/house_rocket_analysis.git
	branch = main
[submodule "nyc_taxi_data_warehouse"]
	path = nyc_taxi_data_warehouse
	url = https://github.com/diogovalentte/nyc_taxi_data_warehouse
